@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Orbitron:wght@600&family=Space+Grotesk:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Barriecito&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-body: #fffafa;
    --head-font: 'Space Grotesk', sans-serif;
    --font-tertary: 'Orbitron', sans-serif;
    --my-black: #111111;
    --primary: #EDE6E3;
    --secondary: #00e965;
    --tertary: #afafaf;
    --my-border: #fffafa6b;
    --color-tertary: #777777;
    --color-forth: #b3b3b3;
    --color-black: #232223;
    --toggle-btn: #eeeeee73;
    --color-fivth: #d1d1d173;
    --color-blast: #ff0000;
    --color-gray: #b9b9b980;
}

body {
    background-color: var(--bg-body);
    transition: all .3s ease-out;
    scroll-behavior: smooth;
}

body img {
    pointer-events: none;
}

::selection #nameHead {
    color: var(--secondary);
}


/* ---navBar */
.navContainer {
    width: 100%;
    margin: auto;
    position: fixed;
    top: 8px;
    z-index: 999;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.navContainer nav {
    width: 100%;
    max-width: 390px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--my-black);
    font-family: var(--head-font);
    transition: all 0.6s;
    border: 2px solid var(--my-border);
}

.notify-dot {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 7px;
    height: 7px;
    background-color: var(--secondary);
    border-radius: 999px;
}

nav .leftNav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    margin-left: 16px;
    border-radius: 999px;
    background-color: var(--bg-body);
    transition: all 0.6s ease-in-out;
}

.leftNav img {
    width: 3rem;
    border-radius: 999px;
    user-select: none;
}

.rightNav {
    padding-inline: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.rightNav a {
    text-decoration: none;
    color: var(--bg-body);
    padding: 12px;
    border-radius: 8px;
    transition: all 0.2s ease-in;
    font-size: 1rem;
    user-select: none;
}

.contact {
    position: relative;
    user-select: none;
    cursor: pointer;
}

.rightNav a:active {
    transform: scale(0.9);
}

.resume i {
    opacity: 0;
    color: var(--my-black);
    transition: all 0.2s;
    user-select: none;
}

.resume:hover i {
    opacity: 1;
    transform: rotate(240deg);
}

.rightNav a:hover {
    color: var(--secondary);
    background-color: var(--bg-body);
}

.main {
    margin: auto;
    padding: 112px 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-body);

}

.left {
    position: relative;
    width: 60%;
    min-width: 400px;
    padding: 40px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dot {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 19px;
    height: 19px;
    background-color: var(--secondary);
    border-radius: 999px;
}


.headline {
    width: 100%;
    font-family: var(--head-font);
    color: var(--my-black);
    font-size: clamp(0.2em, 0vw + 4vw, 1.6em);
    font-family: var(--font-tertary);
    font-style: italic;
}

.heads {
    width: 100%;
}

#nameHead {
    margin: auto;
    display: inline;
    width: 100%;
    padding: 2px;
    font-size: clamp(3em, 6vw, 5em);
    font-family: 'Pacifico', cursive;
    font-family: var(--head-font);
    color: var(--my-black);

}

#nameHead:hover {
    color: var(--secondary);
}

.head-description {
    margin: auto;
    color: #a3a3a3;
    font-family: var(--head-font);
    padding: 2px;
    padding-bottom: 32px;
    font-size: clamp(0.4em, 4vw, 1.4em);
}

#nameHead::selection {
    color: var(--secondary);
}

.headline::selection {
    color: var(--secondary);
}

.head-description::selection {
    color: var(--my-black);
}

h2::selection {
    color: var(--secondary)
}

.right {
    margin: auto;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
}

.right .msg-dot {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 68px;
    right: 68px;
    width: 48px;
    height: 48px;
    background-color: #09ee6ce7;
    color: var(--my-black);
    border-radius: 999px;
    padding-inline: 8px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    font-size: 1em;
    transform: scale(1.2);
    box-shadow: 0px 16px 64px 5px var(--secondary);
}

.msg-dot:hover {
    transform: scale(1.4);
}

.img-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    padding-inline: 16px;
    padding-block: 8px;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='26' height='26' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 100%, 99%, 1)'/><path d='M10-6V6M10 14v12M26 10H14M6 10H-6' transform='translate(3,0)' stroke-linecap='square' stroke-width='0.5' stroke='hsla(0, 0%, 42%, 0.33)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,-40)' fill='url(%23a)'/></svg>");
    border-radius: 0 0 0 999px;
}

.img-holder img[id=myImg] {
    width: 16rem;
    position: relative;
    bottom: -24px;
    left: -24px;
    border-radius: 999px;
    transition: all 0.4s;
}

.Con-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.Con-buttons a {
    background-color: var(--my-black);
    color: var(--secondary);
    border-radius: 8px;
    font-size: 1rem;
    width: 148px;
    text-decoration: none;
    transition: all 0.3s;
    text-align: center;
    font-family: var(--head-font);
    cursor: url('cursor.png');
    user-select: none;
}

.Con-buttons #doc-btn {
    background-color: var(--secondary);
    color: var(--my-black);
    width: 56px;
    height: 56px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Con-buttons #mail-btn {
    padding: 16px;

}

.Con-buttons #mail-btn:hover {
    box-shadow: 0px 0px 0px 2px var(--secondary);
}

.Con-buttons #doc-btn:hover {
    box-shadow: 0px 0px 0px 1px var(--my-black);
    cursor: pointer;
}

button:active {
    transform: scale(0.8);
}

.aboutSec {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--my-black);
    padding: 104px 18px;
}

.aboutSec hr {
    width: 40px;
    border-radius: 999px;
    color: var(--secondary);
    border-bottom: 2px solid var(--secondary);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-color: var(--secondary);
    margin-block: 16px;
    position: absolute;
    top: 40px;
}

.aboutSec h3 {
    width: 84%;
    font-size: 1.8em;
    margin-bottom: 36px;
    padding-left: 8px;
    font-family: var(--head-font);
    color: var(--bg-body);
    position: relative;
}

.story-container {
    width: 84%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    transition: all 0.3s ease-out;
    gap: 32px;
    margin-block: 48px;
    

}

.story-insider {
    min-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-24px);
    border-radius: 16px;
    padding: 4px;
    padding-top: 36px;
}

.story-container img {
    width: 18em;
    border-radius: 24px;
}

.story-insider h6 {
    width: 100%;
    font-size: 1em;
    padding-top: 16px;
    text-align: right;
    font-family: var(--font-tertary);
    font-style: italic;
    color: var(--secondary);
    user-select: none;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
}

.aboutSec .story-insider h1 {
    width: 100%;
    padding-bottom: 0;
    font-size: clamp(2em, 8vw, 4em);
    color: var(--bg-body);
    color: var(--bg-body);
    transition: all 0.3s ease-out;
    user-select: none;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.6;
}

.story {
    width: 320px;
    background-color: var(--secondary);
    padding: 44px;
    border-radius: 24px;
    font-family: var(--head-font);
    box-shadow: 0 32px 48px 2px rgba(5, 194, 87, 0.589);
    transition: all 0.4s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.story-insider p {
    width: 100%;
    color: var(--color-fivth);
    font-family: var(--head-font);
    font-size: 1.2em;
    font-family: var(--font-tertary);
    font-style: italic;
    font-weight: 100;
    text-align: right;
}

.story-insider h4 {
    width: 100%;
    color: var(--bg-body);
    font-weight: 200;
    font-size: 1.8em;
    padding-block: 12px;
    font-family: var(--head-font);
    line-height: 1.4;
    text-align: right;
}

.story:hover {
    box-shadow: none;
}

.aboutSec i {
    padding: 8px;
    color: var(--secondary);
}

.story .sphare {
    position: absolute;
    top: -24px;
    right: -24px;
}

.sphare {
    width: 64px;
    height: 64px;
    border-radius: 16px;
    backdrop-filter: blur(8px);
    background-color: #97999865;
}

/* ---work SECTION--*/
.todoSec {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 96px 18px;
}

::-webkit-scrollbar {
    display: none;
}

.todoSec h3 {
    width: 84%;
    font-size: 1.8em;
    margin-bottom: 36px;
    padding-left: 8px;
    font-family: var(--head-font);
}

.todoSec h2 {
    text-align: left;
    width: 84%;
    font-family: "Josefin Sans", sans-serif;
    color: var(--secondary);
    margin-bottom: 24px;
    font-size: clamp(1.8em, 8vw, 3em);
}

.skillContainer {
    width: 84%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.skillContainer .tech-card {
    padding: 48px;
    width: 250px;
    height: 80px;
    font-family: var(--head-font);
    font-size: 1rem;
    border-radius: 8px;
    text-align: center;
    border: 1px solid var(--color-forth);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    transition: all 0.3s ease-out;
    position: relative;
    user-select: none;
}

.skillContainer .tech-card img {
    width: 3rem;
    border-radius: 12px;
    background-color: var(--color-black);
    padding: 8px;
}

.tech-card p {
    width: 100%;
    /*  */
}

/* -----Products Section-- */
#products {
    margin-top: 28px;
    border-radius: 999px;
}

.productSec {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--my-black);
    padding: 92px 18px;
}

.dots {
    width: 84%;
    border: 1px solid var(----color-blast);
}

.head-dot {
    width: 8px;
    height: 8px;
    border-radius: 999px;
    background-color: var(--secondary);
}


.productSec>h3 {
    width: 84%;
    font-size: 1.8em;
    margin-bottom: 36px;
    padding-left: 8px;
    font-family: var(--head-font);
    color: var(--bg-body);

}

.product-layout {
    width: 84%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;

}

.product-layout .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 64px;
}

.product hr {
    width: 96%;
    border-top: 1px solid var(--color-fivth);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 999px;
    margin-bottom: 48px;
}

.product-layout .product h2 {
    width: 100%;
    font-size: clamp(1.8em, 8vw, 3em);
    font-weight: bold;
    color: var(--secondary);
    font-family: var(--head-font);
    user-select: none;
}

.product-layout .product .product-descp {
    width: 100%;
    font-size: clamp(1em, 1.8vw, 2em);
    text-align: left;
    color: var(--color-gray);
    font-family: var(--head-font);
}

.live-btn {
    position: absolute;
    bottom: 12px;
    right: 12px;
    border-radius: 4px;
    font-family: var(--head-font);
    padding: 8px 16px;
    cursor: pointer;
    color: var(--my-black);
    transition: all .3s ease-out;
    background-color: var(--color-black);
    transform: scale(0);
    border: 1px solid var(--color-gray);
    user-select: none;
}

.live-btn i {
    color: var(--secondary);
}

.imgContainer {
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    background-color: var(--my-black);
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 8px;
    border: 1px dotted var(--color-fivth);
}

.imgContainer a {
    text-decoration: none;
    outline: none;
    user-select: none;
}

.imgContainer p i {
    transition: transform .3s ease-out;
    user-select: none;
}

.imgContainer p:hover i {
    transform: translateX(8px);
}

.imgContainer p:hover {
    color: var(--my-black);
}

.imgContainer img {
    display: block;
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    user-select: none;
}

.imgContainer:hover img {
    opacity: 0.6;
}

.imgContainer:hover .live-btn {
    box-shadow: 16px 16px 64px 5px var(--secondary);
    color: var(--bg-body);
    transform: scale(1);
}

.imgContainer img {
    transition: all 0.3s ease;
    user-select: none;
}


.gitContainer {
    margin: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.gitContainer .head3 {
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 2px;
    text-align: right;
    font-size: clamp(0.4em, 5vw, 2em);
    font-family: var(--head-font);
    color: var(--bg-body);
    user-select: none;
}

.connectCons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    margin-bottom: 48px;
    padding-block: 16px;

}

.gitSec {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--my-black);
    color: var(--secondary);
    border-radius: 9999px;
    padding: 16px;
    font-size: 1.4em;
    letter-spacing: 2px;
    font-family: var(--head-font);
    transition: all 0.2s;
    border: 1px solid var(--color-fivth);
}

.gitContainer hr {
    width: 40px;
    border-radius: 999px;
    color: var(--secondary);
    border-color: var(--secondary);
    margin-block: 16px;
}

.gitSec:active {
    transform: scale(0.85);
}

.gitSec:hover {
    border: 1px solid var(--bg-body);
    box-shadow: 0px 0px 96px 5px var(--secondary);
    /* box-shadow: 0px 0px 0px 1px var(--secondary); */
}

.gitSec img {
    width: 1em;
    border-radius: 999px;
}

.connectCons i {
    color: var(--bg-body);
}



.my-message {
    padding-top: 64px;
    padding-inline: 8px;
}

.my-message h2 {
    font-size: 1.4em;
    color: var(--my-black);
    text-align: center;
    font-family: var(--head-font);
    user-select: none;
}

.my-message hr {
    margin: auto;
    margin-block: 24px;
    width: 2px;
    border: 4px solid var(--secondary);
    border-radius: 999px;
}

.avatar {
    margin: auto;
    width: 100%;
    height: 44vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 16px;
}

.avatar img {
    width: 12em;
    user-select: none;
}

.circle-structure {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.avatar .cons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding: 2px;
}

.cons i {
    color: var(--tertary);
    font-size: 1.4em;
}

.back-to-top {
    position: fixed;
    bottom: 64px;
    right: -24px;
    transform: rotate(90deg);
    background-color: var(--my-black);
    padding: 4px;
    font-family: var(--font-tertary);
    font-style: italic;
    color: var(--secondary);
    text-decoration: none;
    border-radius: 4px;
    width: 112px;
    text-align: center;
    border: 1px solid var(--color-fivth);
}

.back-to-top i {
    transition: all 0.3s ease-in-out;
    color: var(--bg-body);
    user-select: none;
}

.back-to-top:hover i {
    transform: translateX(-8px);
}

/* -------footer */
.dateObjContainer {
    margin: auto;
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dateObjContainer h3 {
    font-family: var(--font-tertary);
    color: var(--tertary);
    font-size: 0.8rem;
    letter-spacing: 2px;
    user-select: none;
}

/* Bottom Navigation */
.bottom-nav {
    position: fixed;
    bottom: 12px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    z-index: 9;
}

.bottom-nav .icon {
    width: 52px;
    height: 52px;
    padding: 16px;
    border: 1px solid var(--color-fivth);
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    box-shadow: 0px 0px 48px -2px var(--secondary);
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.bottom-nav .icon i {
    color: var(--secondary);
}

.bottom-nav .icon:active {
    transform: scale(1.3);
}

/* toggle container */
#toggleContainer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 4;
    background-color: transparent;
    padding: 0px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(600px);
    transition: transform 0.2s ease-in-out;
}

/* hidden toggle Class */
.hidden-navigation {
    transform: scale(1) !important;

}

.active-link {
    background-color: var(--bg-body);
}

#toggleContainer .toggleIcons {
    width: 100%;
    max-width: 340px;
    border: 2px solid var(--color-fivth);
    border-bottom: none;
    border-radius: 12px 12px 0 0;
    padding: 16px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: var(--my-black);
}

.toggleIcons a {
    text-decoration: none;
    color: var(--secondary);
    width: 100%;
    text-align: center;
    font-family: var(--head-font);
    font-size: 1em;
    padding: 16px 24px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
}

.toggleIcons a:hover {
    background-color: var(--bg-body);
    cursor: pointer;
    font-size: 1.01em;
}

/* ----------Media Query */
@media screen and (max-width:768px) {
    .left h3 {
        text-align: center;
    }

    .dot {
        /* top: px; */
        left: 68px;
    }

    #nameHead {
        padding-block: 16px;
        text-align: center;
    }

    .head-description {
        text-align: center;
    }

    .Con-buttons {
        justify-content: center;
        margin-bottom: 50px;
        gap: 12px;
        text-align: center;
    }

    .aboutSec h2 {
        width: 100%;
        text-align: center;
    }

    .img-holder img {
        left: 0px;
    }

    .story-container {
        width: 85%;
    }

    .aboutSec p {
        font-size: 1.2em;

    }

    .todoSec h1 {
        font-size: 1.8rem;
    }

    .skillContainer .tech-card {
        width: 100%;
    }

    .Asset h2 {
        font-size: 2rem;
    }

    .Asset p {
        font-size: 1.2em;
    }

    .productSec h1 {

        font-size: 1.8rem;

    }

    .skillContainer::-webkit-scrollbar {
        width: 0;
        display: none;
    }

    .skillContainer::-webkit-scrollbar-thumb {
        background-color: transparent;
    }


}

/* loading Object */

.loaderContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-body);
}

.loader {
    --dim: 2.4rem;
    width: var(--dim);
    height: var(--dim);
    position: relative;
    animation: spin988 2s linear infinite;
    background-color: var(--bg-body);
}

.loader .circle {
    --color: var(--color-black);
    --dim: 0.8rem;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
}

.loader .circle:nth-child(1) {
    top: 0;
    left: 0;
    background-color: var(--secondary);
}

.loader .circle:nth-child(2) {
    top: 0;
    right: 0;
    background-color: var(--color-black);
}

.loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
    background-color: var(--color-black);

}

.loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
    background-color: var(--secondary);
}

@keyframes spin988 {
    0% {
        transform: scale(1) rotate(0);
    }

    20%,
    25% {
        transform: scale(1.3) rotate(90deg);
    }

    45%,
    50% {
        transform: scale(1) rotate(180deg);
    }

    70%,
    75% {
        transform: scale(1.3) rotate(270deg);
    }

    95%,
    100% {
        transform: scale(1) rotate(360deg);
    }
}

/* Define the initial state of the elements */
.animated-element {
    opacity: 0;
    transform: translateY(120px);
    transition: opacity 1s, transform 1s;
}

/* Define the animated state of the elements */
.animated-element.animated {
    opacity: 1;
    transform: translateY(0);
}

.animatedd-element {
    opacity: 0;
    transform: scale(0);
    transition: opacity 1s, transform 1s;
}

.animatedd-element.animated-second {
    opacity: 1;
    transform: scale(1);
}