
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Pacifico&family=Single+Day&family=Space+Grotesk:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-body: #fffafa;
    --head-font: 'Space Grotesk', sans-serif;
    --font-tertary:'Orbitron', sans-serif;
    --my-black: #222220;
    --secondary: #a069e0;
    --primary:#EDE6E3;
    --tertary :#00e965;
    --font02 : 'Josefin Sans' ;
    --font03 : 'Ubuntu';
    --font04 : 'Work Sans';
    --font05 : 'Nova Square';
}

body {
    background-color: var(--bg-body);
    transition: all 0.4s;
    cursor: url('cursor.png');
    scroll-behavior: smooth;
}


/* ---navBar */
.navContainer {
    margin: auto;
    /* width: 400px; */
    position: sticky;
    top:8px;
    z-index: 999;
    border-radius:12px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 4px; */
    padding: 2px;
    /* background: linear-gradient(45deg, var(--secondary), #d4cfcf); */
    /* background: linear-gradient(45deg, var(--secondary), var(--tertary)); */
}

.navContainer nav {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    border-radius:12px;
    background-color: var(--my-black);
    font-family: var(--head-font);
    transition: all 0.6s;
    border: 2px solid #fffafa6b;
}
.navContainer #ham {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    padding: 8px;
    height: 48px;
    width:48px;
    border-radius: 0 12px 12px 0;
    background-color: var(--my-black);
    position: relative;
}
#ham i {
    font-size: 1.4em;
    color: var(--tertary);
}
#ham-window {
    height: 0; /* Start with zero height */
    width: 0px;
    background-color: var(--my-black);
    border-radius: 8px;
    position: absolute;
    top: 58px;
    left: 48px;
    overflow: hidden; /* Hide any content overflowing the element */
    transition: height 0.4s ease-out; /* Apply transition effect to height */
}

.window-open {
    width: 0px;
    height: 200px; /* Set height to reveal content */
}

nav .leftNav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    margin-left: 16px;
    border-radius: 999px;
    background-color: var(--bg-body);
    transition: all 0.6s ease-in-out;
}

.leftNav img {
    width: 3rem;
    border-radius: 999px;
}

.rightNav {
    padding-inline: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.rightNav a {
    text-decoration: none;
    color: var(--bg-body);
    padding: 12px;
    border-radius: 8px;
    transition: all 0.2s ease-in;
    font-size: 1rem;
}

.rightNav a:active {
    transform: scale(0.9);
}

.resume i {
    opacity: 0;
    color: var(--my-black);
    transition: all 0.2s;
}

.resume:hover i {
    opacity: 1;
    transform: rotate(240deg);
}

.rightNav a:hover {
    color: var(--tertary);
    background-color: var(--bg-body);
}

.main {
    margin: auto;
    padding-top: 48px;
    padding-bottom: 112px;
    padding-inline: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-body);
    /* border: 2px solid var(--my-black); */
}

.left {
    position: relative;
    width: 60%;
    min-width: 400px;
    padding: 40px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid var(--my-black); */
}
.dot {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 18px;
    height: 18px;
    background-color: var(--tertary);
    border-radius: 999px;
}


.headline {
    width: 100%;
    font-family: var(--head-font);
    color: var(--my-black);
    font-size: clamp(0.2em, 0vw + 4vw, 1.6em);
    transform: translateY(-800px);
}

#nameHead {
    margin: auto;
    width: 100%;
    /* letter-spacing: 4px; */
    padding: 2px;
    font-size: clamp(3em, 8vw, 6em);
    /* margin-bottom: 44px; */
    font-family: 'Pacifico', cursive;
    font-family: var(--head-font);
    color: var(--my-black);
}
.head-description {
    margin: auto;
    color: #a3a3a3;
    font-family: var(--head-font);
    padding: 2px;
    padding-bottom: 32px;
    font-size: clamp(0.4em, 4vw, 1.4em);
    /* border: 1px solid; */

}

.headline::selection {
    color: var(--my-black);
}

#nameHead::selection {
    color: var(--secondary);
}

.right {
    margin: auto;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
}
.right .msg-dot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 99;
    top: 68px;
    right: 68px;
    width: 48px;
    height: 48px;
    background-color: var(--tertary);
    border-radius: 999px;
    padding-inline: 8px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    font-size: 1em;
    transform: scale(1.2);
}
.msg-dot:hover {
    transform: scale(1.4);
}

.img-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    padding-inline: 16px;
    padding-block: 8px;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='26' height='26' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 100%, 99%, 1)'/><path d='M10-6V6M10 14v12M26 10H14M6 10H-6' transform='translate(3,0)' stroke-linecap='square' stroke-width='0.5' stroke='hsla(0, 0%, 42%, 0.33)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,-40)' fill='url(%23a)'/></svg>");
    border-radius: 0 0 0 999px;
}

.img-holder img[id=myImg] {
    width: 16rem;
    position: relative;
    bottom: -24px;
    left: -24px;
    border-radius: 999px;
    transition: all 0.4s;
}
#signature {
    padding-top: 8px;
    width: 14em;
    color: var(--tertary);
}

.Con-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.Con-buttons a {
    background-color: var(--my-black);
    color: var(--tertary);
    padding: 16px;
    border-radius: 8px;
    font-size: 1rem;
    width: 200px;
    text-decoration: none;
    transition: all 0.3s;
    text-align: center;
    font-family: var(--head-font);
    /* border: 1px solid #000000; */
    /* cursor: pointer; */
    cursor: url('cursor.png');
}

.Con-buttons #doc-btn {
    background-color: var(--my-black);
    color: var(--tertary);
}

.Con-buttons #mail-btn:hover {
    box-shadow: 0px 0px 0px 4px var(--tertary);
}

.Con-buttons #doc-btn:hover {
    /* transform: scale(0.9); */
    box-shadow: 0px 8px 0px var(--secondary);
    cursor: pointer;
}

button:active {
    transform: scale(0.8);
}

.aero-container {
    position: absolute;
    top: -32px;
    width: 68px;
    height: 68px;
    border-radius: 999px;
    border: 1px solid var(--my-black);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-body);
    /* background-color: var(--secondary); */
}

.aero-container img {
    width: 2em;
    transition: all 0.8s ease-out;
}

.aboutSec {
    margin: auto;
    position: relative;
    width: 96%;
    border-radius: 16px 16px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 48px;
    padding-bottom: 144px;
    background-color: var(--my-black);
}
.head-dot {
    position: absolute;
    top: 64px;
    width: 8px;
    height: 8px;
    background-color: var(--tertary);
    border-radius: 999px;
}

.aboutSec h2 {
    width: 100%;
    text-align: center;
    position: relative;
    font-size: clamp(1.4em, 8vw, 4em);
    padding: 40px;
    padding-bottom: 68px;
    font-family: var(--head-font);
    color: var(--bg-body);
}

.story-container {
    width: 65%;
    display: flex;
    justify-content: center;
    padding-inline: 12px;
    align-items: center;
    background-color: var(--tertary);
    border-radius: 8px;
    transform: rotate(4deg);

}

.aboutSec p {
    position: relative;
    padding: 36px;
    background-color: var(--primary);
    background-color: var(--my-black);
    color: var(--bg-body);
    font-size: 1.4em;
    border-radius: 16px;
    transform: rotate(-4deg);
    font-family: var(--head-font);
    /* border: 1px solid #d4cfcf; */
}

.aboutSec i {
  color: var(--tertary);
}

.markee {
    margin-top: 44px;
    width: 100%;
    background-color: var(--my-black);
    padding: 16px;
}
.markee p {
    font-size: 2em;
    text-transform: uppercase;
    padding: 4px;
    color: var(--tertary);
    font-family:var(--head-font);
}
.divider {
    margin: auto;
    width: 44px;
    border: 2px solid var(--tertary);
    border-radius: 999px;
    margin-block: 48px;
}
/* ---work SECTION--*/
.todoSec {
    margin: auto;
    width: 96%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: 16px 16px 0 0; */
    padding-block: 48px;
    padding-bottom: 144px;
    border: 1px solid;
    position: relative;
}

.todoSec h2 {
    width: 100%;
    text-align: center;
    font-size: clamp(1.4em, 8vw, 4em);
    font-family: var(--head-font);
    color: var(--my-black);
    padding: 40px;
}

.Asset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Asset p {
    padding: 32px;
    width: 208px;
    background-color: rgb(17, 17, 17);
    font-family: var(--head-font);
    color: var(--bg-body);
    font-size: 1rem;
    letter-spacing: 4px;
    /* font-weight: bold; */
    border-radius:8px;
    text-align: center;
    border-bottom: 2px solid var(--tertary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.2s ease-out;
    position: relative;
}

.skillContainer {
    width: 64%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.skillContainer img {
    width: 1.4rem;
}

.Asset p:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.asset01 {
    text-align: left;
}

.asset02 {
    text-align: right;
}

/* -----Products Section-- */
.productSec {
    position: relative;
    margin: auto;
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--my-black);
    padding-block: 48px;
    border-radius: 0 0 16px 16px;
}

.productSec h2 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: clamp(1.4em, 8vw, 4em);
    padding: 40px;
    font-family: var(--head-font);
    color: var(--bg-body);
}

.productLayout {
    width: 78%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 8px;
}

.productLayout h3 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: clamp(1em, 8vw, 4em);
    color: var(--bg-body);
    font-family: var(--head-font);
    border-radius: 8px;
    text-align: center;
    text-align: left;
   
}

.productLayout h3 p {
    width: 100%;
    letter-spacing: 2px;
    padding-inline: 12px;
    font-family: var(--head-font);
    color: var(--tertary);
    font-size: clamp(16px, 4vw, 24px);
}

.live-btn {
    position:absolute;
    top: 16px;
    left: 16px;
    border-radius:8px;
    font-family: var(--head-font);
    padding: 12px;
    padding-inline: 14px;
    cursor: pointer;
    color: var(--my-black);
    transition: all .3s ease-out;
    background-color: var(--tertary);
    /* border: 1px solid var(--bg-body); */
}

.imgContainer {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--my-black);
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 36px;
}

.imgContainer a {
    text-decoration: none;
    outline: none;
}

.imgContainer p i {
    transition: transform .3s ease-out;
}

.imgContainer p:hover i {
    transform: translateX(8px);
    color: var(--bg-body);
}

.imgContainer p:hover {
    color: var(--my-black);
}

.imgContainer img {
    display: block;
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.imgContainer:hover img{
    opacity: 0.6;
}
.imgContainer:hover .live-btn {
    box-shadow: 88px 88px 144px var(--my-black);
    color: var(--bg-body);
}

.IMG01,
.IMG04,
.IMG06 {
    grid-column: span 3;
}

.imgContainer img {
    transition: all 0.3s ease;
}


.connectCons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 48px;
}

.gitContainer {
    margin: auto;
    display: flex;
    width: 100%;
    /* height: 100vh; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gitSec {
    text-decoration: none;
    width: 188px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   background-color: var(--my-black);
   color: var(--tertary);
    border-radius: 8px;
    padding: 16px;
    font-size: 1.4em;
    letter-spacing: 2px;
    font-family: var(--head-font);
    transition: all 0.2s;
    border: 1px solid var(--tertary);
}

.gitSec:active {
    transform: scale(0.85);
}

.gitSec:hover {
    box-shadow: 0px 0px 96px 5px var(--tertary);
    border: 1px solid transparent;
}

.connectCons img {
    width: 4em;
}

.gitContainer .head3 {
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: clamp(0.4em, 5vw, 2em);
    padding-inline: 12px;
    padding-block: 16px;
    font-family: var(--head-font);
    color: var(--bg-body);
    margin-bottom: 16px;
}

.my-message {
    padding-top: 64px;
    padding-inline: 8px;
}
.my-message h2 {
    font-size: 1.4em;
    color: var(--my-black);
    text-align: center;
    font-family: var(--head-font);
}
.my-message hr {
    margin: auto;
    margin-block: 24px;
    width: 2px;
    border: 4px solid var(--tertary);
    border-radius: 999px;
}
.avtar {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    gap: 16px;
}
.avtar img {
    width: 12em;
    filter: drop-shadow(0px 16px 16px rgba(0, 0, 0, 0.185));
    /* margin: auto; */
}
.circle-structure {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.avtar .cons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding: 2px;
}
.cons i {
    color: #afafaf;
    font-size: 1.4em;
}
/* -------footer */
footer {
    margin: auto;
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: flex-start;
    align-items:center;
}

footer h3 {
    font-family: var(--font-tertary);
    color: #afafaf;
    font-size: 0.8rem;
    letter-spacing: 2px;
}



/* ----------mediaQuery */
@media screen and (max-width:768px) {
    .left h3 {
        text-align: center;
    }
    .dot {
        /* top: px; */
        left: 68px;
    }
    
    #nameHead {
        padding-block: 16px;
        text-align: center;
    }
    .head-description{
        text-align: center;
    }

    .Con-buttons {
        justify-content: center;
        margin-bottom: 50px;
        gap: 12px;
        text-align: center;
    }

    .aboutSec h2 {
        width: 100%;
        text-align: center;
    }
    .img-holder img {
        left: 0px;
    }

    .story-container {
        width: 85%;
    }

    .aboutSec p {
        font-size: 1.2em;

    }

    .todoSec h1 {
        font-size: 1.8rem;
    }

    .Asset h2 {
        font-size: 2rem;
    }

    .Asset p {
        font-size: 1.2em;
    }

    .productSec h1 {

        font-size: 1.8rem;

    }

    .skillContainer::-webkit-scrollbar {
        width: 0;
        display: none;
    }

    .skillContainer::-webkit-scrollbar-thumb {
        background-color: transparent;
    }


}